*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing:border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0.25turn, #3fa67b, #afbe57, #e07b0f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 70%;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(0.25turn, #3fa67b, #afbe57, #e07b0f);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    padding-left: 100px;

}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 45px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;   
}

ul li.checked::before{
    background-image: url(/images/checked.png);
}

ul li .cross{
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    top: 0;
}

ul li .cross:hover{
    background: #edeef0;
}

ul li img{
    width: 25px;
    left: 10px;
    
    
    
    
}

ul li .img-wrap{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 55px;
    top: 0px;
    
    bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

ul li .img-wrap:hover{
    background: #5be266aa;
}

ul li input{
    position: absolute;

    /* display: flex; */

    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}



ul li ul li{
    margin-top: 10px;
    margin-bottom: 15px;
}